<div class="appointment-details-container" *ngIf="appointment">
    <h1>Detalles de la Cita</h1>
    <div class="appointment-info">
      <h2>ID de la Cita: {{ appointment.id }}</h2>
      <p><strong>Fecha:</strong> {{ appointment.fecha | date: 'fullDate' }}</p>
      <p><strong>Hora:</strong> {{ appointment.hora }}</p>
      <p><strong>ID Usuario:</strong> {{ appointment.id_usuario }}</p>
      <p><strong>ID Médico:</strong> {{ appointment.id_medico }}</p>
      <p><strong>Estado:</strong> {{ appointment.estado ? 'Confirmada' : 'Pendiente' }}</p>
    </div>
  </div>
  