<div class="index-container">
    <div class="description">
      <h1>Sobre la Obesidad</h1>
      <p>
        La obesidad es una condición médica en la que una persona tiene un exceso de grasa corporal. Esto puede aumentar el riesgo de desarrollar diversas enfermedades y problemas de salud, como enfermedades cardíacas, diabetes tipo 2, presión arterial alta y ciertos tipos de cáncer. La obesidad es una preocupación global y requiere atención tanto a nivel individual como colectivo.
      </p>
      
      <h1>Chatbot de Obesidad</h1>
      <p>
        Nuestro chatbot de obesidad está diseñado para ayudarte a evaluar si tienes obesidad en base a ciertos parámetros. Al proporcionar información como tu altura, peso, edad y nivel de actividad física, el chatbot puede predecir si estás en un rango de obesidad y ofrecerte recomendaciones personalizadas. Es una herramienta útil para la autoevaluación y para tomar decisiones informadas sobre tu salud.
      </p>
  
      <a href="https://t.me/obesidad_bot" target="_blank" class="telegram-button">Ir al Chat de Telegram</a>
    </div>
  </div>
  