<nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#">Dashboard</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Sales</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Campagins</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Servers</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Foobars</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Plumbuses</a>
      </li>
    </ul>
  </nav>