<nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" routerLink="/">Inicio</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink="/patients">Pacientes</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink="/appointments">Citas Pendientes</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink="/appointment-generator">Generar Citas</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink="/soon">Proximamente...</a>
      </li>
    </ul>
  </nav>