<div class="proximamente-container">
    <h1>Nuevas Funcionalidades Próximamente</h1>
    <p>
        Estimados médicos,
    </p>
    <p>
        Estamos trabajando arduamente para traerles nuevas funcionalidades que mejorarán su experiencia y facilitarán su
        trabajo. Estas nuevas herramientas están diseñadas para ofrecerles un soporte más integral y eficiente.
    </p>
    <p>
        Agradecemos su paciencia y preferencia mientras continuamos innovando y mejorando nuestros servicios. Esperamos
        que estas nuevas funcionalidades sean de gran utilidad para ustedes.
    </p>
    <p>
        ¡Gracias por confiar en nosotros!
    </p>
    <p class="firma">
        Atentamente,
        <br>
        El Equipo de Desarrollo
    </p>
</div>